@import "bootstrap/_variables";
@import "bootstrap/_mixins";

body {
  font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
  min-width: 480px;
  color: #333;
  background: url("../img/smbg.png");
  padding-top: 10px;
  overflow-x: hidden;
}

.navigation {
  .logo {
    padding: 20px;
  }
}
.left-col {
  background: #fff;
}
.content {
  padding-top: 85px;
}
.post {
  border-bottom: 5px solid #41b7d8;
  padding:20px;
}
.nav2 .nav {
  margin-bottom: 30px;
}
.books ul {
  padding: 0;

  li {
    list-style-type: none;
    clear: both;
    overflow-x: hidden;
    display: block;
    margin-bottom: 20px;

    img {
      float: left;
      margin-right: 15px;
    }
  }
}
@media (max-width: $screen-sm-max) {
  .navigation {
    overflow: hidden;
    .logo,
    ul {
      float: left;

      li {
        float: left;
      }
    }
  }
  .books {
    margin-top: 30px;
    ul li {
      float: left;
      clear: none;
      width: 30%;
      margin: 0 1.5%;
    }
  }
}